.app-container {
  width: 550px;
  height: 550px;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  flex-shrink: 0;
  padding: 15px;
}

header img {
  width: 31.306px;
  height: 26.218px;
  flex-shrink: 0;
  margin-right: 15px;
}

header h2 {
  color: #FFF;
  font-family: Karla;
  font-size: 20.748px;
  font-weight: 700;
  letter-spacing: -2.075px;
}

header h3 {
  margin-left: auto;
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.meme-form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-top: 20px;
}

#input1, #input2 {
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}


.form-btn {
  grid-column: 1 / -1;
  background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1.6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
}

p {
  color: #000;
  font-size: 20px;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}